.uppermainhomepage {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.uppermainhomepage button {
  padding: 0.5em 1em;
  background-color: var(--black);
  color: var(--white);
  transition: 0.25s ease-in-out;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  font-size: large;
  column-gap: 1em;
}
.uppermainhomepage button:hover {
  background-color: var(--grey);
}
.taskcontainer {
  display: flex;
  justify-content: space-evenly;
  padding: 2em;
}
.pending,
.inprogress,
.done {
  text-align: center;
}
.pending .task,
.pending .updatetask {
  border-top: 4px solid red;
}
.inprogress .task,
.inprogress .updatetask {
  border-top: 4px solid #fbff00;
}
.done .task,
.done .updatetask {
  border-top: 4px solid #49ff00;
}
.task,
.updatetask {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 1em;
  border-radius: 5px;
  margin: 1em;
}
.task button,
.updatetask button {
  padding: 0.3em 0.7em;
  background-color: var(--black);
  color: var(--white);
  transition: 0.25s ease-in-out;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  font-size: medium;
  margin: 0.5em;
}
.task button:hover {
  background-color: var(--grey);
}
.updatetaskinner {
  display: flex;
  flex-direction: column;
}
.updatetaskinner input,
.updatetaskinner select {
  padding: 1em;
  margin: 1em;
  border-radius: 3px;
  border: 0.5px solid var(--grey);
}
.updatetaskinner button {
  padding: 0.3em;
  background-color: var(--black);
  color: var(--white);
  transition: 0.25s ease-in-out;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  font-size: medium;
  margin: 0.5em;
}
.updatetaskinner button:hover {
  background-color: var(--grey);
}
